<div class="container">
    <div class="card">
        <h1>Home Component</h1>
        <div class="container">
            <h1 class="text-center">JWT</h1>
            <h1 class="text-center">clone nest js code <a
                    href="https://github.com/Naveen512/NestJS-Jwt-Auth-Mock_API">Here</a></h1>
            <h1 class="text-center">Then Run The Commands From Terminal Of Root Folder</h1>
            <h1 class="text-center">npm i -g @nestjs/cli</h1>
            <h1 class="text-center">npm install</h1>
            <h1 class="text-center">npm run start:dev</h1>
        </div>
    </div>
</div>